@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1664443422389') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-csdn:before {
  content: "\e60a";
}

.icon-bokeyuan:before {
  content: "\e623";
}

.icon-QQ:before {
  content: "\e882";
}

.icon-wechat-fill:before {
  content: "\e883";
}

.icon-weibo:before {
  content: "\e608";
}

.icon-email:before {
  content: "\e636";
}

.icon-github:before {
  content: "\e732";
}

.icon-bilibili-fill:before {
  content: "\e69c";
}

.icon-gitee-fill-round:before {
  content: "\e686";
}

.icon-zhihu:before {
  content: "\ea8b";
}

.icon-pinpaibiaoshi_wangyiyouxiang:before {
  content: "\e659";
}

